
    <section id="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="media-body">
                            <h2>Questions?</h2>
                            <p>Do you have more question or you would like more info? No problem, just <a href="{{site.baseurl}}/contact">contact us</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://irnas.eu/" title="Irnas">Irnas</a>. All Rights Reserved.
                </div>
                <div class="col-xs-12 col-sm-6">
                    <ul class="pull-right">
                        
                        <!-- Navigation -->
                        {% include footer-nav.html %}
                        
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.prettyPhoto.js"></script>    
    <script src="{{site.baseurl}}/assets/js/jquery.isotope.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
</body>
</html>