
    <section id="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-question-circle"></i>
                        </div>
                        <div class="media-body">
                            <h2>Questions?</h2>
                            <p>Do you have more question or you would like more info? No problem, just <a href="{{site.baseurl}}/contact">contact us</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

 <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row ">
             
              

            

                  <div class="col-sm-6 col-xs-10 footer-div">
                  <h4>Connect</h4>
                  
                 <a href="https://www.facebook.com/instituteirnas" target="_blank"><i class="fa fa-facebook-square"></i></a>
                 <a href="https://twitter.com/institute_irnas" target="_blank"><i class="fa fa-twitter-square"></i></a>
                 <a href="https://www.linkedin.com/company/5091007?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2145770871449478448235%2CVSRPtargetId%3A5091007%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                 <a href="https://github.com/IRNAS" target="_blank"><i class="fa fa-github-square"></i></a>
              
                
                </div>


                <div class="col-sm-6 col-xs-10 footer-div">
                    <h4>More</h4>
                   
                    <ul>
                     <!-- Navigation -->
                     {% include footer-nav.html %}
                    </ul>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-xs-12 text-center copy">
                    &copy; 2018 <a target="_blank" href="http://irnas.eu/" title="Irnas">Irnas</a>. All Rights Reserved. - This work is licensed under Creative Commons Attribution-ShareAlike 4 .0 Unported License
                </div>
            </div>
        </div>
    </footer>

    <script src="{{site.baseurl}}/assets/js/jquery.js"></script>
    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.prettyPhoto.js"></script>    
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
    <script src="{{site.baseurl}}/assets/js/wow.min.js"></script>



</body>
</html>