<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Gallery</h2>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img8-8.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img8-8.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img9-9.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img9-9.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img10-10.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img10-10.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img18-18.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img18-18.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   
            
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img20-20.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img20-20.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img21-21.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img21-21.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img22-22.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img22-22.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{site.baseurl}}/assets/images/gallery/img22b-22b.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <!-- <h3><a href="#">Opis slike?</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, molestiae...</p> -->
                            <a class="preview" href="{{site.baseurl}}/assets/images/gallery/img22b-22b.jpg" rel="prettyPhoto[koruza]"><i class="fa fa-eye"></i> Click to enlarge</a>
                        </div> 
                    </div>
                </div>
            </div>   
        </div>
    </div>
</section>