<section id="headerSlider" class="carousel slide no-margin" data-ride="carousel">
    
    <div class="bothTitles">
       <h1 class="headerSliderTitle">UPORABNE IN DOSTOPNE CNC REŠITVE </h1>
       <h2 class="headerSliderTitle2">GoodEnoughCNC stroji so idealna izbira za vse, ki za poenostavitev svojega dela potrebujete preproste in učinkovite CNC rešitve.</h2>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
        <li data-target="#headerSlider" data-slide-to="1"></li>
        <li data-target="#headerSlider" data-slide-to="2"></li>
        <li data-target="#headerSlider" data-slide-to="3"></li>
        <li data-target="#headerSlider" data-slide-to="4"></li>

    </ol>
    
    <div class="carousel-inner">

        <div class="item active" style="background-image: url({{site.baseurl}}/assets/images/slider/img-3d-1.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="carousel-content">
                            <!-- <h1 class="animation animated-item-1">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                            <h2 class="animation animated-item-2">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
                            an alternative to Wi-Fi networks.</h2> -->
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img-3d-2.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="carousel-content">
                            <!-- <h1 class="">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                            <h2 class="">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
                            an alternative to Wi-Fi networks.</h2> -->
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img5.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="carousel-content">
                            <!-- <h1 class="">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                            <h2 class="">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
                            an alternative to Wi-Fi networks.</h2> -->
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img-plasma-2.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="carousel-content">
                            <!-- <h1 class="">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                            <h2 class="">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
                            an alternative to Wi-Fi networks.</h2> -->
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/img-plasma-4.jpg)">
            <div class="container">
                <div class="row slide-margin">
                    <div class="col-xs-12 col-sm-6">
                        <div class="carousel-content">
                            <!-- <h1 class="">1Gbps networking connectivity for locations up to 100m apart, using an eye-safe infrared light beam.</h1>
                            <h2 class="">KORUZA is a low cost, open source and open hardware, wireless optical system, making the free space optical (FSO) technology available to masses and providing
                            an alternative to Wi-Fi networks.</h2> -->
                            <!-- <a class="btn-slide animation animated-item-3 readMore" href="#features">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <a class="prev hidden-xs" href="#headerSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next hidden-xs" href="#headerSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <!-- <a class="headerSliderLogos irnas" href="http://irnas.eu/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/irnas.jpg"></a>
    <a class="headerSliderLogos shuttleworth" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a> -->

</section>