<section id="headerSlider" class="carousel slide no-margin" data-ride="carousel">
    


    <ol class="carousel-indicators">
        <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
        <li data-target="#headerSlider" data-slide-to="1"></li>
        <!--<li data-target="#headerSlider" data-slide-to="2"></li>
        <li data-target="#headerSlider" data-slide-to="3"></li>-->
    </ol>
    
  <div class="carousel-inner">
         <!--<div class="item active" style="background-image: url({{site.baseurl}}/assets/images/slider/workshop-slide.jpg)">
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
    <div class="bothTitles">

       <h2 class="headerSliderTitle2">5 days of workshops, 2 open hardware machines, 1 suitcase kit. <br>Join GoodEnoughCNC Academy!</h2>
       <a href="{{site.baseurl}}/academy" class="button btn btn-default btn-success">Find out more</a>
    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/workshop-slide.jpg)">
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
    <div class="bothTitles">

       <h2 class="headerSliderTitle2">Build your own GoodEnoughCNC machine. Join our workshop!</h2>
       <a href="{{site.baseurl}}/workshops" class="button btn btn-default btn-success">Find out more</a>
    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="item active" style="background-image: url({{site.baseurl}}/assets/images/slider/hybrid-slide.jpg)">
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
    <div class="bothTitles">
    
       <h2 class="headerSliderTitle2">GoodEnoughCNC hybrid transforms from plasma cutter to mill.</h2>
       <a href="{{site.baseurl}}/hybrid-cnc" class="button btn btn-default btn-success">Find out more</a>
    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item" style="background-image: url({{site.baseurl}}/assets/images/slider/troublemaker-slide.jpg)">
            <div class="container">
                <div class="row slide-margin row-centered">
                    <div class="col-xs-12 col-sm-8 col-centered">
                        <div class="carousel-content">
    <div class="bothTitles">
       <h2 class="headerSliderTitle2">Troublemaker 3D printer with build volume 300 x 300 x 300 mm</h2>
       <a href="{{site.baseurl}}/troublemaker-3d" class="button btn btn-default btn-success">Find out more</a>
    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!--<a class="prev hidden-xs" href="#headerSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next hidden-xs" href="#headerSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>-->

    <!-- <a class="headerSliderLogos irnas" href="http://irnas.eu/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/irnas.jpg"></a>
    <a class="headerSliderLogos shuttleworth" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a> -->

</section>