<nav class="navbar navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                    {% assign pages_list = {site.pages | sort:'order'} %}
                    {% assign group = 'navigation' %}
                    {% include pages_list %}
            </ul>
        </div>
    </div>
</nav>
<!--
    <div class="navbar navbar-inverse">
    <div class="container">
        <!-- Header --><!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <a class="navbar-brand" href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/assets/images/logo.png" alt="logo"></a>
            </div>
             <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                <!--<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == '/index.html' %}active{% endif %}">Home</a></li>--><!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{site.baseurl}}/machines">Machines <b class="caret"></b>
                  </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                     <li><a href="{{site.baseurl}}/machines/#plasma" target="_blank">Plasma</a></li>
                     <li><a href="{{site.baseurl}}/machines/#troublemaker" target="_blank">Troublemaker 3D printer</a></li>
                     <li><a href="{{site.baseurl}}/machines/#precise-xy" target="_blank">Precise XY</a></li>
                     <li><a href="{{site.baseurl}}/machines/#mini-mill" target="_blank">Mini Mill</a></li>
                     <li><a href="{{site.baseurl}}/machines/#large-mill" target="_blank">Large Mill</a></li>
                     <li><a href="{{site.baseurl}}/machines/#toslink-cnc" target="_blank">Toslink CNC</a></li>
                    </ul>
                  </li>
                 
                    {% assign pages_list = {site.pages | sort:'order'} %}
                    {% assign group = 'navigation' %}
                    {% include pages_list %}
                    <li><a href="http://irnas.eu/category/goodenoughcnc/" target="_blank">Blog</a></li>
                    <li><a href="http://fabrikor.eu/index.php?route=product/category&path=60" target="_blank">Buy</a></li>
                </ul>
            </div>
        </div>
    </div>-->
   
