<div class="second-nav-div navbar-default navbar-static-top">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-second">             
                <li><a href="{{site.baseurl}}/hybrid">Hybrid</a></li>
                <li><a href="{{site.baseurl}}/large-mill">Large Mill</a></li>
                <li><a href="{{site.baseurl}}/mini-mill">Mini Mill</a></li>
                <li><a href="{{site.baseurl}}/troublemaker-3d-printer">Troublemaker 3D Printer</a></li>
                <li><a href="{{site.baseurl}}/precise-xy">Precise XY</a></li>
                <li><a href="{{site.baseurl}}/toslink-cnc">Toslink CNC</a></li>
            </ul>
        </div>
    </div>

</div>
