<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Partners / Sponsors</h2>
        </div>    

        <div class="partners">
            <ul>
                <li class="biggerLogo">
                    <a href="https://www.shuttleworthfoundation.org/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{site.baseurl}}/assets/images/partners/shuttleworth-foundation.jpg"></a>
                </li>
                <li class="biggerLogo">
                    <a href="https://wlan-si.net/en/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{site.baseurl}}/assets/images/partners/wlan.jpg"></a>
                </li>
                <li>
                    <a href="http://www.ario.net/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{site.baseurl}}/assets/images/partners/ario.jpg"></a>
                </li>
                <li>
                    <a href="http://www.comsoc.org/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{site.baseurl}}/assets/images/partners/ieee.jpg"></a>
                </li>
                <li>
                    <a href="https://nlnet.nl/" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{site.baseurl}}/assets/images/partners/nlnet.jpg"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{site.baseurl}}/assets/images/partners/openspec.jpg"></a>
                </li>
            </ul>
        </div>        
    </div>
</section>