{% include header.html %}
{{content}}
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style hide-small a2a_vertical_style" style="left:0px; top:150px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<div class="hide-big a2a_kit a2a_kit_size_32 a2a_default_style" style="float:right; margin-right:15px; margin-top:10px; margin-bottom:10px;">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<div class="clear"></div>

<script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
{% include footer.html %}